{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <table>
        {% for user in users %}
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>Compte
                    {% if user.isEnabled %}
                        activé
                    {% else %}
                        désactivé
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
