{% extends 'base.html.twig'%}

{% block body %}
    Timeline
    <div>
        <p>
            {{ post.description }}
            <br>
            <span>le {{ post.createdAt | date('d/m/Y à H:i:s') }}</span>
        </p>
    </div>

    {% for p in posts %}
        <div>
            <p>
                {{ p.description }}
                <br>
                <span>le {{ p.createdAt | date('d/m/Y à H:i:s') }}</span>
            </p>
        </div>
    {% endfor %}
{% endblock %}


