{% extends 'base.html.twig'%}

{% block body %}
    Timeline
    {#
    <div>
        <p>
            {{ post.description }}
            <br>
            <span>le {{ post.createdAt | date('d/m/Y à H:i:s') }}</span>
        </p>
    </div>
    #}

    <div class="container">
         <div class="col-6 offset-3" style="border:1px solid;">
             {# on passe à ce template la variable form en la mettant
             dans la variable formPost, car dans le fichier inclus ci-dessous,
              il faut formPost et non form#}
             {% include 'app/_form_new_post.html.twig' with {'formPost': form} %}
         </div>

        <div class="col-6 offset-3" style="border:1px solid;">
            {% for p in posts %}
                <div>
                    <p>
                        {{ p.description }}
                        <br>
                        <span>le {{ p.createdAt | date('d/m/Y à H:i:s') }}</span>
                    </p>
                </div>
            {% endfor %}

        </div>
    </div>

{% endblock %}


