{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <h1>Création d'un user</h1>

    {{ form_start(form) }}
        {{ form_row(form) }}

        <input type="submit" />
    {{ form_end(form) }}
{% endblock %}
